<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.YiYang.mapper.GoodsMapper" >
    <resultMap id="getGoodsDTOList" type="GetGoodsDTO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="price" property="price"/>
        <result column="reality_price" property="realityPrice"/>
        <result column="desc1" property="desc1"/>
        <result column="img_address" property="imgAddress"/>
        <result column="back_img_address" property="backImgAddress"/>
        <result column="finished" property="finished"/>
        <result column="reco" property="reco"/>
        <collection property="goods" ofType="Goods">
            <result column="size" property="size"/>
            <result column="number" property="number"/>
        </collection>
    </resultMap>
    <select id="getGoodsIdAndNumber" resultType="goods">
        SELECT id, number FROM goods
        WHERE clothes_id = #{clothesId, jdbcType=INTEGER} AND size = #{size, jdbcType=VARCHAR} limit 1;
    </select>
    <insert id="add" parameterType="Goods" >
        INSERT INTO goods VALUES (null, #{clothesId}, #{size}, #{number});
    </insert>
    <select id="get" resultMap="getGoodsDTOList">
        SELECT
        c.id,
        c.name,
        c.type,
        c.price,
        c.reality_price,
        c.desc1,
        c.img_address,
        c.back_img_address,
        c.is_finished AS finished,
        CASE WHEN r.clothes_id IS NULL THEN 0 ELSE 1 END AS reco,
        g.size,
        g.number
        FROM clothes c
        LEFT OUTER JOIN reco_clothes r ON c.id = r.clothes_id
        LEFT OUTER JOIN goods g ON g.clothes_id = c.id;
    </select>
    <update id="updateById" parameterType="GoodsDTO">
        UPDATE goods SET number = number + #{addNumber}
        WHERE id = #{id} AND number = #{number};
    </update>
</mapper>