<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.YiYang.mapper.SendAddressMapper" >
    <insert id="insert" parameterType="sendAddress" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO send_address VALUES (null, #{userName}, #{receiveName}, #{phone}, #{province},
        #{city}, #{district}, #{address}, #{postalCode}, #{addressLabel}, #{defaultAddress});
    </insert>
    <delete id="delete" >
        DELETE FROM send_address WHERE id = #{id} AND username = #{userName} LIMIT 1;
    </delete>
    <select id="get" parameterType="Integer" resultType="SendAddress">
        SELECT
        s.receive_name AS receiveName,
        s.phone,
        s.address
        FROM order1 o
        LEFT OUTER JOIN send_address s ON o.send_address_id = s.id
        WHERE o.id = #{orderId};
    </select>
</mapper>