<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.YiYang.mapper.CartMapper" >
    <insert id="insert" parameterType="cart" >
        INSERT INTO cart VALUES (null, #{userName}, #{goodsId}, #{imgAddress}, #{backImgAddress}, #{number});
    </insert>
    <select id="getCarts" parameterType="String" resultType="CartShowDTO">
        SELECT
        c.id,
        cl.id AS clothesId,
        cl.name,
        g.size,
        c.number,
        c.img_address AS imgAddress,
        c.back_img_address AS backImgAddress,
        cl.reality_price AS price
        FROM cart c
        LEFT OUTER JOIN goods g ON c.goods_id = g.id
        LEFT OUTER JOIN clothes cl ON cl.id = g.clothes_id
        WHERE c.username = #{userName};
    </select>
    <delete id="delete" parameterType="Integer">
        DELETE FROM cart WHERE id = #{id} LIMIT 1;
    </delete>
</mapper>