<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.YiYang.mapper.RecommendIconMapper" >
    <insert id="addReco" parameterType="Integer" >
        INSERT INTO reco_icon VALUES (#{iconId});
    </insert>
    <delete id="deleteReco" parameterType="Integer">
        DELETE FROM reco_icon WHERE icon_id = #{iconId} limit 1;
    </delete>
    <select id="getReco" parameterType="Integer" resultType="Integer">
        SELECT icon_id FROM reco_icon WHERE icon_id = #{iconId};
    </select>
    <select id="getRecommendIcon" resultType="Icon">
        SELECT
        i.id, i.img_address AS imgAddress FROM icon i
        RIGHT OUTER JOIN reco_icon r ON i.id = r.icon_id
        <if test="offset != -1">
            LIMIT #{offset}, #{num}
        </if>;
    </select>
    <select id="getRecommendNum" resultType="Integer">
        SELECT COUNT(*) FROM reco_icon;
    </select>
</mapper>