<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.YiYang.mapper.UserMapper">
    <insert id="addUser" parameterType="userDTO">
        INSERT INTO users VALUES (#{userName}, #{password}, #{enable});
        INSERT INTO user_info VALUES(#{userName}, #{name}, #{email}, #{phone});
        INSERT INTO authorities VALUES (#{userName}, #{authority});
    </insert>
    <select id="getUser1" parameterType="String" resultType="String">
        SELECT password FROM users WHERE username = 'admin';
    </select>
    <select id="getUsers" resultType="UserMessageDTO">
        SELECT u.username, name, authority, phone FROM users u
        LEFT OUTER JOIN user_info i ON u.username = i.username
        LEFT OUTER JOIN authorities a ON u.username = a.username;
    </select>
    <delete id="delete" parameterType="String">
        DELETE FROM users WHERE username = #{userName} limit 1;
    </delete>
    <update id="setPassword" parameterType="User">
        UPDATE users SET password = #{password}
        WHERE username = #{userName} limit 1;
    </update>
    <update id="setUser" parameterType="UserDTO">
        UPDATE user_info SET name = #{name}, phone = #{phone} WHERE username = #{userName} limit 1;
        UPDATE authorities SET authority = #{authority} WHERE username = #{userName} limit 1;
    </update>
    <select id="getUser" parameterType="String" resultType="User">
        SELECT * FROM users WHERE username = #{userName};
    </select>
    <select id="getUserInfo" parameterType="String" resultType="UserDTO">
        SELECT name, email, phone FROM user_info WHERE username = #{userName};
    </select>
    <update id="setEnabled" parameterType="User">
        UPDATE users SET enabled = #{enabled}
        WHERE username = #{userName} limit 1;
    </update>
    <select id="getPassword" parameterType="String" resultType="String">
        SELECT password FROM users WHERE username = #{userName} limit 1;
    </select>
    <select id="getUserAll" parameterType="String" resultType="UserDTO">
        SELECT
        u.username,
        u.password,
        i.name,
        i.email,
        i.phone
        FROM users u
        LEFT OUTER JOIN user_info i ON u.username = i.username
        WHERE u.username = #{userName} ;
    </select>
</mapper>