<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <bean id="returnMessage" class="java.util.HashMap">
        <constructor-arg>
            <map key-type="java.lang.String" value-type="java.lang.String">
                <!--图片的存放路径-->
                <entry key="ROOT" value="F:/我的项目/work_space/YiYang/out/artifacts/YiYang_war_exploded/"/>
                <entry key="USER_CLOTHES_DIR" value="img/user/clothes/"/>
                <entry key="ICON_DIR" value="img/icon/"/>
                <entry key="CLOTHES_DIR" value="img/clothes/"/>
                <entry key="FILE" value=".jpg"/>
            </map>
        </constructor-arg>
    </bean>

    <bean id="sizeMessage" class="java.util.HashMap">
        <constructor-arg>
            <map key-type="java.lang.String" value-type="java.lang.Integer">
                <!--图片的存放路径-->
                <entry key="S" value="50"/>
                <entry key="M" value="50"/>
                <entry key="L" value="50"/>
                <entry key="XL" value="50"/>
                <entry key="XXL" value="50"/>
                <entry key="XXXL" value="50"/>
            </map>
        </constructor-arg>
    </bean>
    <!--创建线程执行类-->
    <bean id="executorUtil" class="com.zzp.YiYang.util.ExecutorUtil"/>
    <bean id="executorService" factory-bean="executorUtil" factory-method="createExecutor"/>

    <bean id="iconDao" class="com.zzp.YiYang.DaoImpl.IconDaoImpl"/>
    <bean id="clothesDao" class="com.zzp.YiYang.DaoImpl.ClothesDaoImpl"/>
    <bean id="myOrderDao" class="com.zzp.YiYang.DaoImpl.MyOrderDaoImpl"/>
    <bean id="operationDao" class="com.zzp.YiYang.DaoImpl.OperationDaoImpl"/>
    <bean id="orderDao" class="com.zzp.YiYang.DaoImpl.OrderDaoImpl"/>
    <bean id="userDao" class="com.zzp.YiYang.DaoImpl.UserDaoImpl"/>
    <bean id="userManageDao" class="com.zzp.YiYang.DaoImpl.UserManageDaoImpl"/>
    <bean id="iconPropertyDao" class="com.zzp.YiYang.DaoImpl.IconPropertyDaoImpl"/>
    <bean id="iconManageDao" class="com.zzp.YiYang.DaoImpl.IconManageDaoImpl"/>
    <bean id="goodsDao" class="com.zzp.YiYang.DaoImpl.GoodsDaoImpl"/>
    <bean id="cartDao" class="com.zzp.YiYang.DaoImpl.CartDaoImpl"/>
    <bean id="closeOrderThread" class="com.zzp.YiYang.util.CloseOrderThread" init-method="toStart"/>
</beans>